<mat-card class="card">
  <mat-card-title>{{title}}</mat-card-title>
  <mat-card-content>
    <p>{{ content }}</p>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <img *ngIf="image !== ''" mat-card-image src="{{image}}}">
  <mat-card-actions *ngIf="routerlink !== ''; else link">
    <button  mat-button [routerLink]="routerlink">OPEN</button>
  </mat-card-actions>
  <ng-template #link>
    <a mat-button
       target="_blank"
       rel="noopener noreferrer"
       [attr.href]=_link>OPEN</a>
  </ng-template>

</mat-card>
